.global{
    width: 20%;
    max-width: 190px;
    height: 100%;
    margin-left: 1em;
    transform-origin: top ;
    transform: skew(-5deg);
    background-color: #fff;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 10%);
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    padding: 2em;
  
}

.global:hover{
    cursor: pointer;
    transform:skew(-5deg) scale(1.05,1.05);
}

.Image{
    position: absolute;
    left: 0px;
}

.textZone{
    font-weight: bold;
}

@media screen and (max-width:500px){

    .global{
        width: 90%;
        height: 200px;
        max-width: none;
        margin: 1em;
    }
}